.vmList {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  li::before {
    content: '';
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    flex-shrink: 0;
  }

  li {
    display: flex;
    align-items: flex-start;
  }

  li:not(:first-child) {
    margin-top: 8px;
  }

  ul {
    margin: 8px 0 8px 28px;
  }
}
