.vmMb_8 {
  margin-bottom: 8px;
}

.vmMb_12 {
  margin-bottom: 12px;
}

.vmMb_16 {
  margin-bottom: 16px;
}

.vmMb_24 {
  margin-bottom: 24px;
}

.vmMb_32 {
  margin-bottom: 32px;
}

.vmMb_40 {
  margin-bottom: 40px;
}

.vmMb_48 {
  margin-bottom: 48px;
}

.vmMb_80 {
  margin-bottom: 80px;
}
