.vmMl_8 {
  margin-left: 8px;
}

.vmMl_12 {
  margin-left: 12px;
}

.vmMl_16 {
  margin-left: 16px;
}

.vmMl_24 {
  margin-left: 24px;
}

.vmMl_32 {
  margin-left: 32px;
}

.vmMl_40 {
  margin-left: 40px;
}

.vmMl_48 {
  margin-left: 48px;
}

.vmMl_80 {
  margin-left: 80px;
}
