.vmMr_8 {
  margin-right: 8px;
}

.vmMr_12 {
  margin-right: 12px;
}

.vmMr_16 {
  margin-right: 16px;
}

.vmMr_24 {
  margin-right: 24px;
}

.vmMr_32 {
  margin-right: 32px;
}

.vmMr_40 {
  margin-right: 40px;
}

.vmMr_48 {
  margin-right: 48px;
}

.vmMr_80 {
  margin-right: 80px;
}
