.vmMt_8 {
  margin-top: 8px;
}

.vmMt_12 {
  margin-top: 12px;
}

.vmMt_16 {
  margin-top: 16px;
}

.vmMt_24 {
  margin-top: 24px;
}

.vmMt_32 {
  margin-top: 32px;
}

.vmMt_40 {
  margin-top: 40px;
}

.vmMt_48 {
  margin-top: 48px;
}

.vmMt_80 {
  margin-top: 80px;
}
