.vmBanner {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 16px;

  color: $color-gray-1;

  padding: 24px;

  border-radius: 8px;
  border: 1px solid $color-gray-3;

  background-color: $color-base-grey;
}

.vmBanner__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // vmBanner__header_tag
  &_tag > .vmTag:first-child {
    margin-right: 8px;
  }
}

.vmBanner__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  svg {
    width: 24px;
    height: 24px;
    fill: $color-brand-main;
    transition: fill $transition-2;

    flex-shrink: 0;

    margin: 2px;
  }
}

.vmBanner__title:hover {
  svg {
    fill: $color-brand-1;
  }
}

.vmBanner__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: $color-base-black;
}
